@import "tailwindcss";

@theme {
  --color-primary: #00a79d;
  --color-primary-light: #f0f9f7;
  --color-green-harvest: #43a047;
  --color-bg-page: #f8fafc;
  --radius-card: 35px;
  --radius-btn: 16px;
  --radius-tab: 10px;
  --radius-container: 32px;
  --radius-section: 24px;
}


@source "../components";
@source "../app";

body {
  /* نستخدم كايرو للعربي و Plus Jakarta للأرقام */
  font-family: 'Cairo', 'Plus Jakarta Sans', sans-serif !important;
  background-color: #f8fafc;
  direction: rtl;
}

/* إعدادات أيقونات جوجل - انسخيها بدقة */
.material-symbols-rounded {
  font-family: 'Material Symbols Rounded' !important;
  display: inline-block;
  vertical-align: middle;
  direction: ltr; /* الأيقونة دائماً لليسار برمجياً */
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  
  /* السطرين الجايين هم أهم شي لتحويل النصوص لأيقونات */
  font-feature-settings: 'liga'; 
  -webkit-font-smoothing: antialiased;

}
/* --- كود إخفاء مؤشر نيكست (يُوضع بالخارج وحده) --- */
nextjs-portal, 
#_next-static-indicator, 
[data-nextjs-toast-wrapper],
#nextjs-dev-indicator {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}